body {
    display: block;
    font-family: 'Montserrat';
}

#navbar {
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 9000;
    overflow: auto;
    background: #ffffff;
    text-align: center;
    transition: all 0.15s linear;
}

a.nav-link {
    color: rgba(2, 28, 82, 0.95)!important;
    padding: 10px 20px !important;
    font-size: 18px;
    font-family: 'Sofia';
}

.navbar-container {
    max-width: 1400px;
}

#navbar.active {
    box-shadow: 0 0 5px rgb(104 104 104 / 40%);
}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    cursor: pointer;
    width: fit-content;
}

.btn-trial {
    color: rgb(255, 255, 255);
    background: rgba(2, 28, 82, 0.95);
    padding: 8px 27px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.7px;
}
